<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>369254850571-5ivhrda1e84ttaqg5i2eub9519r29gj9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.369254850571-5ivhrda1e84ttaqg5i2eub9519r29gj9</string>
	<key>API_KEY</key>
	<string>AIzaSyAcctc_XENpyjkvgGwpcKaR4udqEJy1NyY</string>
	<key>GCM_SENDER_ID</key>
	<string>369254850571</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.logicgear.onList</string>
	<key>PROJECT_ID</key>
	<string>on-list</string>
	<key>STORAGE_BUCKET</key>
	<string>on-list.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:369254850571:ios:413f9ecb77fb25d7</string>
	<key>DATABASE_URL</key>
	<string>https://on-list.firebaseio.com</string>
</dict>
</plist>